.navbar-gradient {
  background: linear-gradient(90deg, #5A84C2 0%, #FAB217 100%);
  padding: 1rem 0.5rem;
}

.nav-font-color {
  color: #13366D;
}

.navbar-brand-logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
